<div class="container-fluid container-home text-center">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="home">Welcome to Chirp</h1>
    <h2 class="home">A feeble imitation of some other micro-blogging site</h2>
    <%= link_to "Login with Twitter", "/auth/twitter", class: "btn btn-lg btn-default btn-home" %>
  </div>              <!--- the above route is defined by the middleware not by me -->
  <div class="col-md-2"></div>
</div>
